<div class='shopping__cart'>
    <div class='shopping__cart__inner'>
        <div class='offsetmenu__close__btn'>
            <a href='#'><i class='zmdi zmdi-close'></i></a>
        </div> 
        <div class='shp__cart__wrap'>
            {{#if idCart}}
            {{#each idCart}}
            <div class='shp__single__product'>
                <div class='shp__pro__thumb'>
                    <a href='#'>
                        <img src='/azshopweb/images/product/{{this.imgName}}' alt='product images'>
                    </a>
                </div>
                <div class='shp__pro__details'> 
                    <h2><a href='/productDetails/{{this.id}}'>{{this.title}}</a></h2>
                    <span class='quantity'>QTY: {{this.quantity}}</span>
                    <span class='shp__price'>${{formatMoney this.salePrice}}</span>
                </div>
                <div class='remove__btn'>
                    <a href='/cart/delete/{{this.id}}' title='Remove this item'><i class='zmdi zmdi-close'></i></a>
                </div>
            </div>
            {{/each}}   
            {{else}}
            {{/if}}
        </div>
        <ul class='shoping__total'>
            <li class='subtotal'>Subtotal:</li>
            <li class='total__price'>${{formatMoney totals}}</li>
        </ul>
        <ul class='shopping__btn'>
            <li><a href='/cart'>View Cart</a></li>
            <li class='shp__checkout'><a href='/checkout'>Checkout</a></li>
        </ul>
    </div>
</div>
