<!-- Start Our Product Area -->
<section class="htc__product__area shop__page ptb--130 bg__white">
    <div class="container">
        <div class="htc__product__container">
            <!-- Start Product MEnu -->
            <div class="row">
                <div class="col-md-12">
                    <div class="filter__menu__container">
                        <div class="product__menu">
                            {{!-- <button data-filter="*"  class="is-checked">All</button>
                            <button data-filter=".cat--1">Furnitures</button>
                            <button data-filter=".cat--2">Bags</button>
                            <button data-filter=".cat--3">Decoration</button>
                            <button data-filter=".cat--4">Accessories</button>  --}}
                            {{#each applCate}}
                                <a href="/{{this.slug}}">{{this.name}}</a>
                            {{/each}}
                        </div>
                        {{!-- <div class="filter__box">
                            <a class="filter__menu" href="/productDetails">filter</a>
                        </div> --}}
                    </div>
                </div>
            </div>
            <!-- Start Filter Menu -->
            {{!-- <div class="filter__wrap">
                <div class="filter__cart">
                    <div class="filter__cart__inner">
                        <div class="filter__menu__close__btn">
                            <a href="/productDetails"><i class="zmdi zmdi-close"></i></a>
                        </div>
                        <div class="filter__content">
                            <!-- Start Single Content -->
                            <div class="fiter__content__inner">
                                <div class="single__filter">
                                    <h2>Sort By</h2>
                                    <ul class="filter__list">
                                        <li><a href="#default">Default</a></li>
                                        <li><a href="#accessories">Accessories</a></li>
                                        <li><a href="#bags">Bags</a></li>
                                        <li><a href="#chair">Chair</a></li>
                                        <li><a href="#decoration">Decoration</a></li>
                                        <li><a href="#fashion">Fashion</a></li>
                                    </ul>
                                </div>
                                <div class="single__filter">
                                    <h2>Size</h2>
                                    <ul class="filter__list">
                                        <li><a href="#xxl">XXL</a></li>
                                        <li><a href="#xl">XL</a></li>
                                        <li><a href="#x">X</a></li>
                                        <li><a href="#l">L</a></li>
                                        <li><a href="#m">M</a></li>
                                        <li><a href="#s">S</a></li>
                                    </ul>
                                </div>
                                <div class="single__filter">
                                    <h2>Tags</h2>
                                    <ul class="filter__list">
                                        <li><a href="/productDetails">All</a></li>
                                        <li><a href="/productDetails">Accessories</a></li>
                                        <li><a href="/productDetails">Bags</a></li>
                                        <li><a href="/productDetails">Chair</a></li>
                                        <li><a href="/productDetails">Decoration</a></li>
                                        <li><a href="/productDetails">Fashion</a></li>
                                    </ul>
                                </div>
                                <div class="single__filter">
                                    <h2>Price</h2>
                                    <ul class="filter__list">
                                        <li><a href="/productDetails">$0.00 - $50.00</a></li>
                                        <li><a href="/productDetails">$50.00 - $100.00</a></li>
                                        <li><a href="/productDetails">$100.00 - $150.00</a></li>
                                        <li><a href="/productDetails">$150.00 - $200.00</a></li>
                                        <li><a href="/productDetails">$300.00 - $500.00</a></li>
                                        <li><a href="/productDetails">$500.00 - $700.00</a></li>
                                    </ul>
                                </div>
                                <div class="single__filter">
                                    <h2>Color</h2>
                                    <ul class="filter__list sidebar__list">
                                        <li class="black"><a href="/productDetails"><i class="zmdi zmdi-circle"></i>Black</a></li>
                                        <li class="blue"><a href="/productDetails"><i class="zmdi zmdi-circle"></i>Blue</a></li>
                                        <li class="brown"><a href="/productDetails"><i class="zmdi zmdi-circle"></i>Brown</a></li>
                                        <li class="red"><a href="/productDetails"><i class="zmdi zmdi-circle"></i>Red</a></li>
                                        <li class="orange"><a href="/productDetails"><i class="zmdi zmdi-circle"></i>Orange</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Content -->
                        </div>
                    </div>
                </div>
            </div> --}}
            <!-- End Filter Menu -->
            <!-- End Product MEnu -->
            <div class="product__list another-product-style">
                <div class="row" id="showProduct">
                   <!-- Start Single Product -->
                    {{#each product}}                    
                    <div  class="col-lg-3 single__pro col-xl-3 col-md-4 col-12 cat--3 col-sm-6 productItem"  data-id="{{sum @index 1}}">
                        <div class="product foo"> 
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="/productDetails/{{this.id}}">
                                        <img height="260px" src="/azshopweb/images/product/{{this.imgName}}" alt="product images">
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a data-toggle="modal" data-target="#productModal-{{this.id}}" title="Quick View" class="quick-view modal-view detail-link" href="/productDetails/{{this.id}}"><span class="ti-plus"></span></a></li>
                                        <li><a title="Add TO Cart" href="/cart/{{this.id}}"><span class="ti-shopping-cart"></span></a></li>
                                        <li><a title="Wishlist" href="/wishlist/{{this.id}}"><span class="ti-heart"></span></a></li>
                                    </ul>
                                </div> 
                            </div>
                            <div class="product__details" style="min-height: 92px;">
                                <h2><a href="/productDetails/{{this.id}}">{{this.title}}</a></h2>
                                <ul class="product__price">
                                    <li class="old__price">VNĐ {{formatMoney this.price}}</li>
                                    <li class="new__price">VNĐ {{formatMoney this.salePrice}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <!-- End Single Product -->
                </div>
            </div>
            <!-- Start Load More BTn -->
            {{!-- <div class="row mt--60">
                <div class="col-md-12">
                    <div class="htc__loadmore__btn">
                        <p id="loadMore" style="cursor: pointer;" >load more</p>                        
                    </div>
                </div>
            </div> --}}
            <!-- End Load More BTn -->
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded',function(){        
        //let id = $('div[data-id]');
      

        
    })
</script>
