<!-- Start Checkout Area -->
<section class="our-checkout-area ptb--120 bg__white">
    <form method="POST" action="/checkout/payment">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-8">
                <div class="ckeckout-left-sidebar">
                    <!-- Start Checkbox Area -->
                    <div class="checkout-form">
                        <h2 class="section-title-3">Billing details</h2> 
                        {{#if message}}<span style="color:red;margin-top:5px"> Vui lòng nhập đầy đủ thông tin!</span>{{/if}}
                        <div class="checkout-form-inner">
                            <div class="single-checkout-box">
                                <input type="text" placeholder="First Name*" name="firstName" value="{{profile.firstName}}">
                                <input type="text" placeholder="Last Name*" name="lastName" value="{{profile.lastName}}">
                            </div>
                            <div class="single-checkout-box">
                                <input type="email" placeholder="Email*" name="email" value="{{profile.email}}">
                                <input type="text" placeholder="Phone*" name="phone" value="{{profile.phone}}">
                            </div>
                            <div class="single-checkout-box">
                                <textarea name="address" placeholder="Address*" style="min-height: 10px!important;" value="{{profile.address}}"></textarea>                         
                            </div>
                            <div class="single-checkout-box">
                                <textarea name="message" placeholder="Message*"></textarea>
                            </div>
                            {{!-- <div class="single-checkout-box select-option mt--40">
                                <select>
                                    <option>Country*</option>
                                    <option>Bangladesh</option>
                                    <option>Bangladesh</option>
                                    <option>Bangladesh</option>
                                    <option>Bangladesh</option>
                                </select>
                                <input type="text" placeholder="Company Name*">
                            </div>
                            <div class="single-checkout-box">
                                <input type="email" placeholder="State*">
                                <input type="text" placeholder="Zip Code*">
                            </div> --}}
                            <div class="single-checkout-box checkbox">
                                <input id="remind-me" type="checkbox" name="save">
                                <label for="remind-me"><span></span>Create a Account ?</label>
                            </div>
                        </div>
                    </div>
                    <!-- End Checkbox Area -->
                    <!-- Start Payment Box -->
                    <div class="payment-form">
                        <h2 class="section-title-3">payment details</h2>
                        <p>Vui lòng chọn hình thức thanh toán</p>
                        <div class="payment-form-inner">
                            {{!-- <div class="single-checkout-box">
                                <input type="text" placeholder="Name on Card*">
                                <input type="text" placeholder="Card Number*">
                            </div>
                            <div class="single-checkout-box select-option">
                                <select>
                                    <option>Date*</option>
                                    <option>Date</option>
                                    <option>Date</option>
                                    <option>Date</option>
                                    <option>Date</option>
                                </select>
                                <input type="text" placeholder="Security Code*">
                            </div> --}}
                            <div class="single-checkout-box checkbox">
                                <input id="remind-me" type="radio" name="payment" value="1" checked>
                                <label for="remind-me"><span></span>Thanh toán sau khi nhận hàng</label>
                            </div>
                            <div class="single-checkout-box checkbox">
                                <input id="remind-me" type="radio" name="payment" value="2">
                                <label for="remind-me"><span></span>Thanh toán bằng thẻ tín dụng</label>
                            </div>
                            <div class="single-checkout-box checkbox">
                                <input id="remind-me" type="radio" name="payment" value="3">
                                <label for="remind-me"><span></span>Thanh toán bằng Paypal</label>
                            </div>
                            
                        </div>
                    </div>
                    <!-- End Payment Box -->
                    <!-- Start Payment Way -->
                    <div class="our-payment-sestem">
                        <h2 class="section-title-3">We  Accept :</h2>
                        <ul class="payment-menu">
                            <li><a href="#"><img src="/azshopweb/images/payment/1.jpg" alt="payment-img"></a></li>
                            <li><a href="#"><img src="/azshopweb/images/payment/2.jpg" alt="payment-img"></a></li>
                            <li><a href="#"><img src="/azshopweb/images/payment/3.jpg" alt="payment-img"></a></li>
                            <li><a href="#"><img src="/azshopweb/images/payment/4.jpg" alt="payment-img"></a></li>
                            <li><a href="#"><img src="/azshopweb/images/payment/5.jpg" alt="payment-img"></a></li>
                        </ul>
                        <div class="checkout-btn">
                            <button class="ts-btn btn-light btn-large hover-theme" type="submit">CONFIRM & BUY NOW</a>
                        </div>    
                    </div>
                    <!-- End Payment Way -->
                </div>
            </div>
            <div class="col-lg-4 col-xl-4">
                <div class="checkout-right-sidebar">
                    <div class="our-important-note">
                        <h2 class="section-title-3">Note :</h2>
                        <p class="note-desc">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut laborekf et dolore magna aliqua.</p>
                        <ul class="important-note">
                            <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>Lorem ipsum dolor sit amet, consectetur nipabali</a></li>
                            <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>Lorem ipsum dolor sit amet, consectetur nipabali</a></li>
                            <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>Lorem ipsum dolor sit amet, consectetur nipabali</a></li>
                            <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>Lorem ipsum dolor sit amet</a></li>
                        </ul>
                    </div>
                    <div class="puick-contact-area mt--60">
                        <h2 class="section-title-3">Quick Contract</h2>
                        <a href="phone:+8801722889963">0903.971.949 </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</section>
<!-- End Checkout Area -->