<div class="container mt-4">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="checkout-form">  
                    <form method="POST" action="/admin/updateAccount/">      
                            <div class="single-checkout-box">
                                    <input type="text" placeholder="Họ" name="firstName" style="width:20%" required>                               
                                    <input type="text" placeholder="Tên" name="lastName" style="width:30%" required> 
                                    <input type="text" placeholder="Email" name="email" style="width:30%" onchange="checkField(this)" required>
                                    <span id="messageEmail"></span> 
                                    
                            </div>
                            <div class="single-checkout-box">
                                    <select style="width:20%" name="gioitinh">
                                      <option>Giới tính</option>
                                      <option value="Nam">Nam</option>              
                                      <option value="Nữ">Nữ</option>              
                                      <option value="Khác">Khác</option>              
                                    </select>
                                    <label>Năm sinh:</label> 
                                    <input class="myDate" type="date"  name="date" value="{{strDate}}"  style="width:20%">
                                    <select style="width:20%" name="chucvu">
                                      <option>Chức vụ</option>
                                      <option value="Khách hàng">Khách hàng</option>              
                                      <option value="Biên tập viên">Biên tập viên</option>              
                                      <option value="Quản trị">Quản trị</option>              
                                    </select>
                            </div>
                            <div class="single-checkout-box mt-4">
                                    <input type="text" placeholder="Số điện thoại" name="phone" style="width:20%">                               
                                    <input type="text" placeholder="Địa chỉ" name="address" style="width:60%">
                                    
                            </div>
                            <div class="single-checkout-box">
                                    <input id="mk1" type="text" placeholder="Mật khẩu" name="password" style="width:30%" onchange="confirmPassword(this)" required>                               
                                    <input id="mk2" type="text" placeholder="Xác nhận lại mật khẩu" name="confirmpassword" style="width:30%" onchange="confirmPassword(this)" required>
                                    <span id="confirmPassword"></span>
                            </div>
                            
                            <h2 class="section-title-2">Ảnh đại diện</h2>                            
                            <div class="single-checkout-box mt-2">                               
                               <input id="img" type="file" onchange="fileupload(this)">
                               <div style="position: relative;width:150px;" class="mt-2">
                                <img id="preview" style="display:none;width:150px;height:150px">
                                <span onclick="hideImg()"><i id="delete" style="position: absolute;right:0;top:0;padding:5px;color: cyan;display:none" class="remove__btn zmdi zmdi-close"></i></span>
                               </div>
                               <input id="imgName" name="imgName"  type="text" hidden>                              
                            </div>

                            <div id="isSave" class="contact-btn mt-2 mb-2">
                                <button  type="submit" class="disabled" disabled>LƯU</button>
                            </div>
                            
                    </form>  
                </div>
            </div>
            
        </div>
</div>

{{!-- <div class="single-checkout-box">                            
    <input type="text" placeholder="Slug" name="slug" style="width:100%" value="{{item.slug}}">                               
</div>
<div class="single-checkout-box select-option">
    <select style="width:100%" name="prasent">
            {{#ifCond item.prasent "==" 0}} 
            <option value="0">Danh mục cha</option>
            {{#each myCategory}}
                <option value="{{this.id}}">{{this.name}}</option>  
            {{/each}}   
            {{else}}
            <option value="0">Danh mục cha</option>                               
            {{#each myCategory}}
                {{#ifCond this.id "==" @root.item.prasent}}    
                <option selected="selected" value="{{this.id}}">{{this.name}}</option> 
                {{else}} 
                <option value="{{this.id}}">{{this.name}}</option> 
                {{/ifCond}}                                             
            {{/each}} 
            {{/ifCond}}               
    </select>
</div>
<h2 class="section-title-2">Ảnh đại diện</h2> 
<div class="single-checkout-box mt-2">
    <input id="img" type="file" onchange="fileupload(this)">
    <div style="position: relative;width:150px;" class="mt-2">
        {{#if item.slug}}
        <img id="preview" style="width:150px;height:150px" src="/azshopweb/images/sidebar-img/{{item.imgName}}">
        <span onclick="hideImg()"><i id="delete" style="position: absolute;right:0;top:0;padding:5px;color: cyan" class="remove__btn zmdi zmdi-close"></i></span>                                
        {{else}}
        <img id="preview" style="display:none;width:150px;height:150px">
        <span onclick="hideImg()"><i id="delete" style="position: absolute;right:0;top:0;padding:5px;color: cyan;display:none" class="remove__btn zmdi zmdi-close"></i></span>
        {{/if}}
        <input type="text" id="imgName" name="imgName" value="{{item.imgName}}" hidden>
    </div>                            
</div> --}}

<script>
        var isEmail = false;
        var isPass = false;
        function fileupload(input){
            console.log('fileupload():',input.files[0]);
            var dirDes = "/public/azshopweb/images/account/"; 
            const data = input.files[0];            
            let reader = new FileReader();    
            reader.onload = function() {
                var newData  = {
                    'lastModified'     : data.lastModified,
                    'lastModifiedDate' : data.lastModifiedDate,
                    'name'             : data.name,
                    'tmp_name'         : reader.result,
                    'size'             : data.size,
                    'type'             : data.type,
                    'des'              : dirDes
                };
                var preview = document.querySelector('#preview');                        
                preview.title = data.name;
                preview.src = reader.result;                
                document.querySelector('#preview').style.display='inline';   
                document.querySelector('#delete').style.display='block';
                document.getElementById('imgName').value = data.name;
                $.post("/admin/upload",newData,
                    function(data,status){
                        console.log("Data: " + data + "\nStatus: " + status);
                });
            }
            reader.onerror = function() {
                console.log('error:',reader.error);
            };
            if (data) reader.readAsDataURL(data);
        }    

        
        function hideImg(){
             document.querySelector('#preview').style.display='none';   
             document.querySelector('#delete').style.display='none';
             document.querySelector('#img').value='';
             document.querySelector('#imgName').value='';
        }

        function checkField(e){
            console.log(e.value);
            let newData = {
                field:e.value,
                t:'/public/json/dataKhach.json'
            }
            $.post("/admin/checkField",newData,
                    function(data,status){
                        console.log("Data: ",data.message);
                        console.log("\nStatus: ",status);
                        if(data.message){
                            document.getElementById("messageEmail").textContent="Email đã tồn tại"
                            isEmail = false;
                        }else{
                            document.getElementById("messageEmail").textContent="";
                            isEmail = true;
                        }
                        if(isPass === true && isEmail === true) {
                            document.getElementById("isSave").innerHTML = `<button  type="submit" class="fv-btn">LƯU</button>`;
                        }
            });
        }

        function confirmPassword(e){
            let mk1 = document.getElementById("mk1").value;
            let mk2 = document.getElementById("mk2").value;
            console.log('mk1:',mk1.length);
            console.log('mk2:',mk2.length);
            if(mk1.length < 6 || mk2.length < 6) {
                document.getElementById("confirmPassword").textContent = "Mật khẩu ít nhất 6 ký tự."
                isPass = false;
            }else{
                document.getElementById("confirmPassword").textContent ="";
                if(mk1 !== mk2) {
                    document.getElementById("confirmPassword").textContent ="Mật khẩu không khớp";
                    isPass = false;
                }else{
                    document.getElementById("confirmPassword").textContent ="Mật khẩu hợp lệ";
                     isPass = true;
                }
            }
            if(isPass === true && isEmail === true) {
                document.getElementById("isSave").innerHTML = `<button  type="submit" class="fv-btn">LƯU</button>`;
            }
        }

</script>